'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Sort Sass'
      'submenu': [
        {
          'label': 'Sort'
          'command': 'sort-sass:sort'
        }
      ]
    ]
  }
]
